<%- include('top.ejs') %>
  <div class="alert alert-info">
    <%= qty %> Usuários cadastrados
  </div>
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <td>Nome</td>
        <td>E-mail</td>        
        <td>Ações</td>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(item=> {
        %>
        <tr>
          <td><a href="/users/edit/<%= item._id %>">
              <%= item.nome %>
            </a>
          </td>
          <td>
            <%= item.email %>
          </td>            
          <td>
            <a href="/users/edit/<%= item._id %>" title="Editar" class="btn btn-secondary">
              <img src="/images/edit.png" />
            </a>
            <a href="/users/delete/<%= item._id %>" title="Excluir" class="btn btn-danger"
              onclick="return confirm('Confirma exlusão do usuário <%= item.nome %>?')">
              <img src="/images/delete.png" />
            </a>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% for(let i=1; i <= pagesQty; i++) {%>

        <% if(page === i) {%>
          <li class="page-item"><a class="page-link active" href="/users/<%= i %>"><%= i %></a></li>
        <%} else {%>
          <li class="page-item"><a class="page-link" href="/users/<%= i %>"><%= i %></a></li>
        <%}%>
      <%}%>
    </ul>    
  </nav>  
  <div class="row">
    <div class="col-2">
      <a href="/users/new" target="_self"  class="btn btn-primary">Cadastrar Usuário</a>
    </div>
    <div class="col-2">
      <a href="/index" target="_self" class="btn btn-secondary">Home</a>  
    </div>
    <div class="col-2">
      <form action="/logout" method="POST">
        <input type="submit" value="Logout" class="btn btn-secondary"/>
      </form>
    </div>    
  </div>
  <%- include('bottom.ejs') %>